<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="lib/underscore-1.5.1.min.js"></script>
    <script src="lib/jquery-2.0.3.min.js"></script>
    <script src="lib/backbone-1.0.0.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/cordova-2.3.0.js"></script>
    <script src="lib/cordova.force.js"></script>
    <script src="lib/forcetk.mobilesdk.js"></script>
    <script src="lib/smartsync.js"></script>
    <script src="lib/fastclick.js"></script>
    <script src="js/salesforce_oauth.js"></script>
    <script src="js/util.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
    <!-- ナビゲーション部 -->
    <nav class="navbar navbar-default">
      <header class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">駅検索</a>
      </header>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#list">一覧表示</a></li>
          <li><a href="#map">地図表示</a></li>
        </ul>
        <form class="navbar-form navbar-left form-search" id="search-form">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="Search" />
          </div>
          <button type="submit" class="btn btn-default">検索</button>
        </form>
      </div>
    </nav>
    <!-- 駅リスト -->
    <article class="main scrollable" id="list">
      <div class="wrap">
        <table class="table" id="stations">
          <thead>
            <tr>
              <th>駅名</th>
              <th>路線</th>
              <th>距離</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <script id="station-item-template" type="text/template">
          <td><%= name %></td>
          <td><%= line %></td>
          <td><%= dist %> km</td>
        </script>
      </div>
    </article>
    <!-- 駅地図 -->
    <article class="main" id="map" style="display: none">
      <div id="gmap" style="width: 100%; height: 100%"></div>
    </article>
  </body>
</html>
